/* CSS Reset */
@import 'base/reset';

/* Variables */
@import 'base/vars';

/* Partials */
@import 'partials/header';

body,
button,
input,
textarea {
  font-family: 'Plus Jakarta Display', Arial, Helvetica, sans-serif;
}