/* CSS Reset */
@import 'base/reset';

/* Variables */
@import 'base/vars';

/* Partials */
@import 'partials/header';
@import 'partials/hero';
@import 'partials/section-midia-indoor';
@import 'partials/section-mi-for-everyone';
@import 'partials/section-mi-private';
@import 'partials/section-app-download';
@import 'partials/section-balcao';
@import 'partials/footer';

body,
button,
input,
textarea {
  font-family: 'Plus Jakarta Display', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(1, 163, 178, 0.8);
    border-radius: 3px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(1, 163, 178, 0.3);
  }
}

.section {
  position: relative;
  padding: 100px 140px;

  @media screen and (max-width: 768px) {
    padding: 64px 20px;
  }
}

.button-goto-top {
  position: fixed;
  z-index: 20;
  bottom: 30px;
  right: 60px;
  cursor: pointer;
  background: #ff7e75;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 5px rgba(255, 126, 117, 0.2);
  transition: all 0.15s ease;
  border-radius: 50%;

  @media screen and (max-width: 768px) {
    right: 20px;
  }

  &:hover {
    box-shadow: 0px 2px 8px rgba(255, 126, 117, 0.4);
  }
}

.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 120;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transition: all 0.15s ease;

  &.show {
    opacity: 1;
    pointer-events: auto;
  }

  &__button-close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);

    @media screen and (max-width: 768px) {
      background: rgba(0, 0, 0, 1);
    }
  }

  video {
    z-index: 125;
    height: 80%;
    width: auto;

    @media screen and (max-width: 768px) {
      width: 100%;
      height: auto;
    }
  }
}
